.DS_Store
.env
/.idea
/.vagrant
/backup
/database/savanyu.db
/node_modules
/public/css
/public/hot
/public/js
/public/mix-manifest.json
/public/storage
/public/dist
/public/build
/storage/*.key
/vendor
backup.sh
Homestead.json
Homestead.yaml
npm-debug.log
phpunit.dusk.xml
yarn-error.log
