// // Body
$body-bg: #ecf0f1;
$body-color: #222;

// Cards
$card-spacer-x: 0.9375rem;
$card-spacer-y: 0.625rem;
$card-cap-bg: #fbfbfb;
$card-border-color: #e8eced;

// Borders
$border-radius: .125rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;

// Nav Pills
$nav-pills-border-radius: 0;

$primary: #e74c3c;
$secondary: #7f8c8d;
$success: #27ae60;
$light: #bdc3c7;
$dark: #333;

html {
  --primary: $primary;
  --secondary: $secondary;
  --success: $success;
  --light: $light;
  --dark: #333;
}
