@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/src/sweetalert2';

@import 'elements/card';
@import 'elements/editable-text';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';

html {
  font-size: 10pt;
}

body {
  background-color: #f6f6f6;
}

.card {
  box-shadow: 0 5px 10px #f0f0f0;
}

.card-menu .card-body {
  padding: 0;
}

.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: #f6f6f6;
}

td .svg-inline--fa {
  margin: 0 0.3rem;

  path {
    fill: $secondary;
  }

  &.fa-trash path {
    fill: $danger;
  }
}

.nav-link svg {
  height: 0.8em;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background-color: #fff;
  border-bottom-color: #fff;
}
