@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/src/sweetalert2';

@import 'elements/card';
@import 'elements/editable-text';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';

html {
  --border-color: #e6e6e6;
  --fg-color: #333;

  color: var(--fg-color);
  font-size: 10pt;
}

body {
  background-color: #f6f6f6;
  padding-bottom: 3rem;
}

@media (min-width: 768px) {
  .dropdown-menu:after, .dropdown-menu:before {
  	bottom: 100%;
  	left: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  }

  .dropdown-menu:after {
  	border-color: transparent;
  	border-bottom-color: white;
  	border-width: 0.8rem;
  	margin-left: -0.8rem;
  }
}

.navbar .nav-link { color: rgba(255, 255, 255, 0.8) !important; }
.navbar .navbar-brand,
.navbar .nav-link:hover,
.navbar .nav-link:focus { color: rgba(255, 255, 255, 1) !important; }

.nav-link svg { height: 1.2rem; }

.navbar .nav-item { padding-left: 1rem; }

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background-color: #fff;
  border-bottom-color: #fff;
}

.nav-tabs a { color: var(--fg-color); }

.card {
  border-color: var(--border-color);
  box-shadow: 0 5px 10px #eee;
}

.card .card { box-shadow: none, }

.card-header {
  border-bottom-color: var(--border-color);
}

.card-menu .card-body { padding: 0; }

.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: #f6f6f6;
}

td .svg-inline--fa {
  margin: 0 0.3rem;

  path {
    fill: $secondary;
  }

  &.fa-trash path {
    fill: $danger;
  }
}
